*{
    text-decoration: none;  
}
body{
    background: url(https://static.vecteezy.com/system/resources/previews/036/226/872/non_2x/ai-generated-nature-landscapes-background-free-photo.jpg);
    background-size: cover;
	background-position:center ;
    min-height: 100vh;
}

.navbar{
   
   font-family: Calibri;
   padding-left: 15px;
   padding-right: 15px; 
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    font-size:35px ;
    font-weight: 600;
    color: rgb(243, 247, 9);
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: rgb(243, 247, 9);
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    text-decoration: none;
}

button{
    background-color: rgb(73, 237, 92);
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}

button a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.home{
    text-align: center;
    margin-top: 300px;
    font-size: 40px;
}

